*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.part1{
    height: 850px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    background-color: #EFF7FA;
    padding: 1%;
}
.part1 #menu{
    width: 18%;
    background-color: white;
    height: 100%;
    border-radius: 5px;
    overflow: auto;
    padding: 20px;
}
.part1 #menu input{
    margin-top: 10px;
}
.part1 #menu span{
    color: gray;
    font-size: 14px;
}
.part1 #menu h6{
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 6px;
}
.part1 #menu p{
    font-size: 14px;
    margin-left: 10px;
    color: rgb(91, 91, 91);
}
.part1 #menu .set3{
    height: 250px;
    border-bottom: 1px solid rgb(233, 225, 225);
    overflow: auto;
    padding: 10px;
}
.part1 #items{
    width: 80%;
    background-color: white;
    overflow: auto;
    border-radius: 5px;
}
#productBox{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    padding: 20px;
 
}
#aside{
    display: none;
}
a{
    text-decoration: none;
}

#main{
    height: 480px;
    padding: 10px;
    /* border: 1px solid black; */
}
#main:hover{
    border: 1px solid #24A3B5;
    box-shadow: 0 0 10px 0 rgb(211, 211, 211);
}
#main #img{
    height: 75%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#main #img #like{
    position: absolute;
    top: 10px;
    right: 5px;
    font-size: 15px;
}
#main #text #logomain{
    width: 40px;
}
#main #text #title{
    color: rgb(94, 94, 94);
    font-size: 13px;
}
#main #text #price{
    font-weight: bold;
    font-size: 18px;
}
#main #text #mainPrice{
    text-decoration: line-through;
    color: gray;
    margin-left: 5px;
}
#main #text #off{
    font-weight: bold;
    color: #24A3B5;
    font-size: 15px;
    margin-left: 5px;
}
#main #text #free{
    font-size: 10px;
    color: gray;
}
#menu::-webkit-scrollbar,#items::-webkit-scrollbar{
    width: 10px;
}
#menu .set3::-webkit-scrollbar{
    width: 5px;
    background-color: rgb(219, 219, 219);
    border-radius: 10px;
}
#menu .set3::-webkit-scrollbar-thumb{
    background-color: #adadad;
    border-radius: 10px;
}

header{
    width: 100%;
    height: 35px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: right;
    align-items: center;
}
.x1{
    width: 7%;
    height: 30px;
    /* border: 1px solid blue; */
color: rgb(114, 114, 114);
}
.x1 i{
    padding: 5px;
}
.subheader{
    width: 100%;
    height: 100px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.s1{
    width: 13%;
    height: 100px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.s1 img{
    width: 170px;
}
.s2{
    width: 55%;
    height: 100px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.s3{
    width: 5%;
    height: 100px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub1{
    width: 100%;
    height: 50px;
    /* border: 1px solid black; */
    background-color: #24A3B5;
    display: flex;
    justify-content: center;
    
    align-items: center;
}
.sub2{
    width: 100%;
    height: 50px;
    /* border: 1px solid black; */
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.c1 img{
    width: 80px;
}
.sub1 a{
    color: white;
    padding: 20px;
}
.sub2 a{
    color: rgb(114, 114, 114);
    padding: 20px;

}
#xc{
    width: 70%;
    height: 50px;
    /* border: 1px solid black; */
    background-color: #E9F6F7;
    border-radius: 5px;
}
#sd{
    width: 20%;
    height: 50px;
    /* border: 1px solid black; */
    background-image: linear-gradient(to right, #fe8c00 0%, #f83600  51%, #fe8c00  100%);
    /* margin: 10px; */
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    display: block;
    border-radius: 0px 5px 5px 0px;
}
         

  #sd:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 .parent{
    width: 100%;
    height: 500px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #EFF7FA;
 }
 .v1{
    width: 70%;
    height: 450px;
    /* border: 1px solid black; */
    background-color: white;
    border-radius: 10px;
    
 }
 #bn{
    width: 100%;
    height: 100%;
    border-radius: 10px;
   
 }
 
 .v2{
    width: 15%;
    height: 450px;
    /* border: 1px solid black; */
    border-radius: 10px;
 }
 
 .q1{
    width: 100%;
    height: 150px;
    /* border: 1px solid black; */
    background-color: white;
    border-radius: 10px;
 }
 .q1 img{
    /* width: 50%; */
    height:100%;
    overflow: hidden;
    border-radius: 10px;
    
 }
 .V11{
    width: 100%;
    height: 350px;
    /* border: 1px solid black; */
   animation: Autoimg;
   animation-duration: 2s;
   animation-iteration-count: infinite;
   animation-direction: normal;
   /* background-image: url(/image/Auto-img\ \(1\).jpg); */
   /* background-color: red; */
   /* background-image: url(/asstes/a1\ \(1\).jpg); */
   /* background-image: url(https://cdn.shopclues.com/images/banners/2024/June/11/Hyper-deal-web-12June24.jpg) !important; */
   /* z-index: 1; */
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;

    }
   @keyframes Autoimg{
      10%{
         background-image: url(https://cdn.shopclues.com/images/banners/2024/Oct/24/Health_Web.jpg)  !important;
      }
      50%{
      background-image: url(https://cdn.shopclues.com/images/banners/2024/Oct/21/Diwali_Decor_Web_21Oct24.jpg) !important;
      }
      100%{
         background-image: url(https://cdn.shopclues.com/images/banners/2024/Oct/24/Health_Web.jpg) !important;
      }
   }
 .v22{
    width: 100%;
    height: 100px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
 }
 .r1{
    width: 20%;
    height: 100px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    
 }
 .r1:hover{
    border-bottom:5px solid #24A3B5 ;
 }
 .r1 p{
    color: rgb(114, 114, 114);
    font-size: 20px;

 }
 .r1 p:hover{
    color: #24A3B5;
  
 }
 .sa1{
    width: 100%;
    height: 100px;
    /* border: 1px solid black; */
    background-color: #EFF7FA;
    display: flex;
    align-items: center;
 }
 .sa1 h1{
    margin-left: 40px;
    font-size: 25px;
    font-weight: 600;
    background-color:#E9F6F7;
 }

 footer{
    width: 100%;
    height: 500px;
 
    border-top: 1px solid lightgray;
    background-color:white;
 }
 .vidhi1{
    width: 100%;
    height: 200px;
    border-bottom: 1px solid lightgray;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
 }
 
 .vidhi2{
    width: 100%;
    height: 300px;
    border-bottom: 1px solid lightgray;
    /* background-color: white; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
 }
 .p1{
    width: 30%;
    height: 170px;
    border-left: 1px solid lightgray;
    background-color: white;
 
 }
 .p1 i{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-size: 30px;
    color: #24A3B5;
 }
 .p1 p{
    text-align: center;
    color: rgb(114, 114, 114);
    font-size: 20px;
 }
 .hu{
    width: 20%;
    height: 350px;
    /* border: 1px solid black; */
    
 }
 .MINU{
    width: 100%;
    height: 200PX;
    /* border: 1PX solid black; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
 }
 .heer1{
    width: 40%;
    height: 150px;
    /* border: 1px solid black; */
 }
 .heer2{
    width: 70%;
    height: 150px;
    /* border: 1px solid black; */
 }
 .heer1 h5{
 font-weight: bold;
 margin-left: 20px;
 }
 .heer1 i{
    color: #24A3B5;
    font-size: 25px;
    margin-left: 20px;
 }
 .heer2 h5{
    font-weight: bold;
 margin-left: 100px;
 }
 
 .heer2 img{
    width: 600px;
    margin-left: 100px;
 }
 .misu{
    width: 100%;
    height: 700px;
    /* border: 1px solid black; */
    /* background-color: #E9F6F7; */
 }

 @media(max-width:992px){
    #productBox{
        grid-template-columns: repeat(3,1fr);   
    }
    #aside{
        display: block;
    }
    .part1 #menu{
        display: none;
        position: absolute;
        top: 40px;
        width: 70%;
        box-shadow: 0 0 5px 0 rgb(217, 217, 217);
        z-index: 1;
    }
    .part1 #items{
        width: 100%;
    }
}

@media(max-width:576px){
    #productBox{
        grid-template-columns: repeat(2,1fr);  
    }
    #aside{
        display: block;
    }
    .part1 #menu{
        display: none;
        position: absolute;
        top: 40px;
        width: 70%;
        box-shadow: 0 0 5px 0 rgb(217, 217, 217);
        z-index: 1;
    }
    .part1 #items{
        width: 100%;
    }
}
@media(max-width:490px){
    #productBox{
        grid-template-columns: repeat(1,1fr);
        
    }
    #aside{
        display: block;
    }
    .part1 #menu{
        display: none;
        position: absolute;
        top: 40px;
        width: 70%;
        box-shadow: 0 0 5px 0 rgb(217, 217, 217);
        z-index: 1;
    }
    .part1 #items{
        width: 100%;
    }
}

