*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 35px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: right;
    align-items: center;
}
#total{
   border-radius: 50%;
   font-size: 12px;
   height: 20px;
   width: 20px;
   background-color: #FF675E;
   color: white;
   position: absolute;
   top: 8%;
   right: 7.8%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.x1{
    height: 30px;
    font-size: 14px;
color: rgb(114, 114, 114);
}
.x1 i{
    padding: 7px;
}
.s1{
     display: flex;
    justify-content: center;
    align-items: center;

}
.s1 img{
    width: 170px;
}
.s2{
 
    display: flex;
    justify-content: center;
    align-items: center;
}
.s3{
   position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#total{
    border-radius: 50%;
    font-size: 12px;
    height: 20px;
    width: 20px;
    background-color: #FF675E;
    color: white;
    position: absolute;
    top: 22%;
    right: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
.sub1{
    width: 100%;
    /* height: 50px;   */
}
.sub1 li{
   list-style: none;
}

.c1 img{
    width: 80px;
}

#xc{
    background-color: #E9F6F7;
    border-radius: 5px;
}
#sd{
    background-image: linear-gradient(to right, #fe8c00 0%, #f83600  51%, #fe8c00  100%);
    transition: 0.5s;
    background-size: 200% auto;      
    box-shadow: 0 0 20px #eee;
    border-radius: 0px 5px 5px 0px;
}
#sd:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }

.part1{
    height: 850px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    background-color: #EFF7FA;
    padding: 1%;
}
.part1 #menu{
    width: 18%;
    background-color: white;
    height: 100%;
    border-radius: 5px;
    overflow: auto;
    padding: 20px;
}
.part1 #menu input{
    margin-top: 10px;
}
.part1 #menu span{
    color: gray;
    font-size: 14px;
}
.part1 #menu h6{
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 6px;
}
.part1 #menu p{
    font-size: 14px;
    margin-left: 10px;
    color: rgb(91, 91, 91);
}
.part1 #menu .set3{
    height: 250px;
    border-bottom: 1px solid rgb(233, 225, 225);
    overflow: auto;
    padding: 10px;
}
.part1 #items{
    width: 80%;
    background-color: white;
    overflow: auto;
    border-radius: 5px;
}
#productBox{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    padding: 20px;
 
}
#aside{
    display: none;
}
a{
    text-decoration: none;
}

#main{
    height: 480px;
    padding: 10px;
    /* border: 1px solid black; */
}
#main:hover{
    border: 1px solid #24A3B5;
    box-shadow: 0 0 10px 0 rgb(211, 211, 211);
}
#main #img{
    height: 75%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#main #img .like-button{
    position: absolute;
    top: 10px;
    right: 5px;
    font-size: 15px;
}
#main #text #logomain{
    width: 40px;
}
#main #text #title{
    color: rgb(94, 94, 94);
    font-size: 13px;
}
#main #text #price{
    font-weight: bold;
    font-size: 18px;
}
#main #text #mainPrice{
    text-decoration: line-through;
    color: gray;
    margin-left: 5px;
}
#main #text #off{
    font-weight: bold;
    color: #24A3B5;
    font-size: 15px;
    margin-left: 5px;
}
#main #text #free{
    font-size: 10px;
    color: gray;
}
#menu::-webkit-scrollbar,#items::-webkit-scrollbar{
    width: 10px;
}
#menu .set3::-webkit-scrollbar{
    width: 5px;
    background-color: rgb(219, 219, 219);
    border-radius: 10px;
}
#menu .set3::-webkit-scrollbar-thumb{
    background-color: #adadad;
    border-radius: 10px;
}



footer{
    border-top: 1px solid lightgray;
  
}
.vidhi1{
  border-bottom: 1px solid lightgray;
}

.vidhi2{
  border-bottom: 1px solid lightgray;
}
.p1{
  border-left: 1px solid lightgray; 

}

 @media(max-width:992px){
    #total{
        right: 28%;
        top: 10.5%;
     }
     .sub1 li{
        width: 100%;
        text-align: center;
        margin-top: 5px;
     }
    #productBox{
        grid-template-columns: repeat(3,1fr);   
    }
    #aside{
        display: block;
    }
    .part1 #menu{
        display: none;
        position: absolute;
        top: 40px;
        width: 70%;
        box-shadow: 0 0 5px 0 rgb(217, 217, 217);
        z-index: 1;
    }
    .part1 #items{
        width: 100%;
    }
}

@media(max-width:576px){
    #productBox{
        grid-template-columns: repeat(2,1fr);  
    }
    .sub1 li{
        width: 100%;
        text-align: center;
        margin-top: 5px;
     }
    #aside{
        display: block;
    }
    .part1 #menu{
        display: none;
        position: absolute;
        top: 40px;
        width: 70%;
        box-shadow: 0 0 5px 0 rgb(217, 217, 217);
        z-index: 1;
    }
    .part1 #items{
        width: 100%;
    }
}
@media(max-width:490px){
    #total{
        right: 27%;
        top: 10.5%;
     }
     .sub1 li{
        width: 100%;
        text-align: center;
        margin-top: 5px;
     }
    #productBox{
        grid-template-columns: repeat(1,1fr);
        
    }
    #aside{
        display: block;
    }
    .part1 #menu{
        display: none;
        position: absolute;
        top: 40px;
        width: 70%;
        box-shadow: 0 0 5px 0 rgb(217, 217, 217);
        z-index: 1;
    }
    .part1 #items{
        width: 100%;
    }
}

