*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 35px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: right;
    align-items: center;
}
#total{
   border-radius: 50%;
   font-size: 12px;
   height: 20px;
   width: 20px;
   background-color: #FF675E;
   color: white;
   position: absolute;
   top: 8%;
   right: 7.8%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.x1{
    height: 30px;
    font-size: 14px;
color: rgb(114, 114, 114);
}
.x1 i{
    padding: 7px;
}
.s1{
     display: flex;
    justify-content: center;
    align-items: center;

}
.s1 img{
    width: 170px;
}
.s2{
 
    display: flex;
    justify-content: center;
    align-items: center;
}
.s3{
   
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub1{
    width: 100%;
}
.sub1 li{
   list-style: none;
}
.c1 img{
    width: 80px;
}
#xc{
    background-color: #E9F6F7;
    border-radius: 5px;
}
#sd{
    background-image: linear-gradient(to right, #fe8c00 0%, #f83600  51%, #fe8c00  100%);
    transition: 0.5s;
    background-size: 200% auto;      
    box-shadow: 0 0 20px #eee;
    border-radius: 0px 5px 5px 0px;
}
/* .......... */


#singleBox{
    width: 100%;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}
#main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
}
#main #img{
    position: relative;
    width: 30%;
}
#main #text #logomain{
    width: 50px;
}
#main #text #title{
    color: rgb(94, 94, 94);
    font-size: 17px;
}
#main #text #price{
    font-weight: bold;
    font-size: 18px;
}
#main #text #mainPrice{
    text-decoration: line-through;
    color: gray;
    margin-left: 5px;
}
#main #text #off{
    font-weight: bold;
    color: #24A3B5;
    font-size: 15px;
    margin-left: 5px;
}
#main #text #free{
    font-size: 10px;
    color: gray;
}
#main #text #size{
    border: 2px solid rgb(196, 196, 196);
    width: 50px;
    font-size: 12px;
    margin-top: 5px;
}
#main #text #size:hover{
    border: 2px solid #24A3B5;
}
#cart{
    border: 2px solid #FF685E;
    width: 130px;
    height: 40px;
    margin-top: 10px;
    color: #FF685E;
 font-weight: 500;
 margin-bottom: 10px;
 border-radius: 5px;
}
#buy{
    width: 130px;
    height: 40px;
    background: linear-gradient(#FF8C4F,#FF6261); 
    color: white;
    border-radius: 5px;
    margin-left: 10px;
}
#main #img #like{
    position: absolute;
    top: 10px;
    right: 5px;
    font-size: 15px;
}
#main #text #pay{
    font-size: 13px;
    color: gray;
}
#pincode{
    border: 1px solid rgb(215, 215, 215);
    padding: 5px;
}
#pincodeCheck{
    border: 1px solid #24A3B5;
    border-radius: 5px;
    padding: 5px;
    color: #24A3B5;
    width: 70px;
    margin-left: 5px;
}
footer{
    border-top: 1px solid lightgray;
  
}
.vidhi1{
  border-bottom: 1px solid lightgray;
}

.vidhi2{
  border-bottom: 1px solid lightgray;
}
.p1{
  border-left: 1px solid lightgray; 

}

@media(max-width:980px){
    #total{
       right: 28%;
       top: 10.5%;
    }
    .sub1 li{
    width: 100%;
    text-align: center;
    margin-top: 5px;
 }
 #main{
    width: 100%;
 }
 }
 @media(max-width:480px){
    #total{
       right: 27%;
       top: 10.5%;
    }
    .sub1 li{
       width: 100%;
       text-align: center;
       margin-top: 5px;
    }
    
#singleBox{
    height: auto;
}
    #main{
        width: 100%;
        flex-direction: column;
    }
  
 }