*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #24A3B5    ; */

}
.window{
   height: 100vh;
   width: 100%;
   position: fixed;
   display:flex;
   align-items: center;
   justify-content: center;
   background-color: black;
   z-index: 1;
}

#top{
   width: 50px;
   height: 50px;
   position: fixed;
   border: 1px solid black;
   border-radius: 50px;
   bottom: 20px;
right:20px;
font-size: 25px;
background-color: transparent;
border: none;
color:white;
background-color: #24A3B5;
box-shadow: 1.5px 1.5px 1.5px 1.5px rgb(225, 142, 112);
}

header{
    width: 100%;
    height: 35px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: right;
    align-items: center;
}
#total{
   border-radius: 50%;
   font-size: 12px;
   height: 20px;
   width: 20px;
   background-color: #FF675E;
   color: white;
   position: absolute;
   top: 8%;
   right: 7.8%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.x1{
    height: 30px;
    font-size: 14px;
color: rgb(114, 114, 114);
}
.x1 i{
    padding: 7px;
}
.s1{
     display: flex;
    justify-content: center;
    align-items: center;

}
.s1 img{
    width: 170px;
}
.s2{
 
    display: flex;
    justify-content: center;
    align-items: center;
}
.s3{
   
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub1{
    width: 100%;
    /* height: 50px;   */
}
.sub1 li{
   list-style: none;
}

.c1 img{
    width: 80px;
}

#xc{
    background-color: #E9F6F7;
    border-radius: 5px;
}
#sd{
    background-image: linear-gradient(to right, #fe8c00 0%, #f83600  51%, #fe8c00  100%);
    transition: 0.5s;
    background-size: 200% auto;      
    box-shadow: 0 0 20px #eee;
    border-radius: 0px 5px 5px 0px;
}
         

  #sd:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }
 .parent{
    width: 100%;
    background-color: #EFF7FA;
 }
 .v1{
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    
 }
 #bn{
    width: 100%;
    height: 100%;
    border-radius: 10px;
   
 }
 
 .v2{
    border-radius: 10px;
 }
 
 .q1{
    width: 100%;
    height: 150px;
    /* border: 1px solid black; */
    background-color: white;
    border-radius: 10px;
 }
 .q1 img{
    /* width: 50%; */
    height:100%;
    overflow: hidden;
    border-radius: 10px;
    
 }
 .V11{
    width: 100%;
    height: 380px;
    background-image: url("https://cdn.shopclues.com/images/banners/2024/Oct/07/Mainstream_Webv_07oct24.jpg");
    background-size: cover;
    background-position: center;
   animation: Autoimg;
   animation-duration: 10s;
   animation-iteration-count: infinite;

    }
   @keyframes Autoimg{
      10%{
         background-image: url("https://cdn.shopclues.com/images/banners/2024/Aug/03/Rocket_Web_2Aug24.jpg");
         background-size: cover;
         background-position: center;
      }
      40%{
      background-image: url("https://cdn.shopclues.com/images/banners/2024/Oct/22/television-web-hb-22oct2024.jpg");
      background-size: cover;
      background-position: center;
      }
      60%{
         background-image: url("https://cdn.shopclues.com/images/banners/2024/Oct/19/WebElectronic.jpeg");
         background-size: cover;
         background-position: center;
      }
      80%{
         background-image: url("https://cdn.shopclues.com/images/banners/2024/Oct/21/Diwali_Decor_Web_21Oct24.jpg");
         background-size: cover;
         background-position: center;
      }
      100%{
         background-image: url("https://cdn.shopclues.com/images/banners/2024/Oct/07/Mainstream_Webv_07oct24.jpg");
         background-size: cover;
         background-position: center;
      }
   }
 .v22{
    width: 100%;
    height: 80px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
 }
 .r1{
    width: 20%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(114, 114, 114);
    font-size: 16px;
    
 }
 .r1:hover{
    border-bottom:5px solid #24A3B5 ;
 }
 .r1 p:hover{
    color: #24A3B5;
  
 }
 .sa1{
    width: 100%;
    height: 100px;
    background-color: #EFF7FA;
    display: flex;
    align-items: center;
 }
 .sa1 h1{
    margin-left: 40px;
    font-size: 25px;
    font-weight: 600;
    background-color:#EFF7FA;
 }
 .parent1{
    width: 95%;
   margin: auto;
    background-color: #EFF7FA;
 }
 .part{
   width: 100%;
    height: 300px;
    background-color: white;
 }
 #wer{
    width: 50%;
    height: 136px;
 }
 .item{
   padding-left: 30px;
 }
 .item img{
  margin-left: 30px;

   
 }

 .part2{
   width: 100%;
   height: 2%00px;
   /* border: 1px solid black; */
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   background-color: #EFF7FA;
 }
 .part2 img{
   width: 20%;

 }
.part3{
   width: 100%;
   /* height: 350px; */
   /* border: 1px solid black; */
   /* display: flex; */
   justify-content: space-evenly;
   align-items: center;
   
   background-color: #EFF7FA;
}
.cv1{
   /* width: 30%; */
   height: 260px;
   /* border: 1px solid black; */
   background-color: white;
}
.cv1 img{
   height: 160px;
   width: 50%;
   margin-left: 50px;
}
.cv1 p{
   color: rgb(114, 114, 114);
   font-size: 15px;  
}
.cv1 h4{
   color: black;
   font-weight: 50000px;
}
footer{
     border-top: 1px solid lightgray;
   
}
.vidhi1{
   border-bottom: 1px solid lightgray;
}

.vidhi2{
   border-bottom: 1px solid lightgray;
}
.p1{
   border-left: 1px solid lightgray; 

}

@media(max-width:800px){
   #total{
      right: 28%;
      top: 10.5%;
   }
   .sub1 li{
   width: 100%;
   text-align: center;
   margin-top: 5px;
}
}
@media(max-width:480px){
   #total{
      right: 27%;
      top: 10.5%;
   }
   .sub1 li{
      width: 100%;
      text-align: center;
      margin-top: 5px;
   }
}
